<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmbassadorPass"
        tools:targetApi="31">


        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.IntroductionActivity"
            android:exported="false" />


        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AmbassadorPass" />


        <activity android:name=".view.user.PartyPreviewActivity" android:exported="false" />
        <activity android:name=".view.admin.PhotoPreviewActivity" android:exported="false" />
        <activity android:name=".view.admin.CreateAdminActivity" android:exported="false" />
        <activity android:name=".view.admin.AssignAmbassadorsActivity" android:exported="false" />
        <activity android:name=".view.admin.CreatePartyActivity" android:exported="false" />
        <activity android:name=".view.LoginActivityAdmin" android:exported="false" />
        <activity android:name=".view.AmbassadorDashboard" android:exported="false" />
        <activity android:name=".view.admin.AdminDashboard" android:exported="false" />
        <activity android:name=".view.user.PageOneActivity" android:exported="false" />

    </application>
</manifest>
